:root {
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%;);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(243, 229, 216);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  margin-top: 14rem;
  max-width: 800px;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

img {
  width: 100%;
  border-radius: 3rem;
}

h1 {
  font-family: "Young Serif", sans-serif;
}
.text {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 1.2rem;
}

.omelette {
  background-color: aquamarine;
}
