@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

:root {
  --color-text: #d9d9d9;
  --color-active: #c4f82a;
  --color-background-btn: #333333;
  --color-backgroun-card: #1f1f1f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10/16 = 62.5% => 1rem -> 10px */
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: #141414;
  color: var(--color-text);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-backgroun-card);
  /* width: 50vw; */
  padding: 5rem 10rem;
  min-height: 45rem;
  justify-content: space-around;
  border-radius: 3px;
  align-items: center;
}

.card__user {
  align-self: center;
}

.card__user-icon img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.card__user-name {
  font-weight: 700;
}

.card__user-location {
  color: var(--color-active);
  font-weight: 500;
}

.card__user-about {
  font-weight: 300;
}

.card__list {
  list-style: none;
}

.list__item {
  margin-bottom: 1rem;
  background-color: var(--color-background-btn);
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 5rem;
  border-radius: 1rem;
  width: 100%;
}

.list__link:link,
.list__link:visited {
  color: var(--color-text);
  text-decoration: none;
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.text {
  font-size: 4rem;
  display: inline-block;
}
